<a href="https://colab.research.google.com/github/neenavar1428/2024-Paris-Olympics-Data-Analysis/blob/main/Paris_Olympics_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv(r'athletes.csv')
df

In [ ]:
df2 = pd.read_csv(r'events.csv')
df3 = pd.read_csv(r'medallists.csv')
df4 = pd.read_csv(r'medals.csv')
df5 = pd.read_csv(r'medals_total.csv')
df6= pd.read_csv(r'schedules.csv')
df7 = pd.read_csv(r'schedules.csv')
df8 = pd.read_csv(r'teams.csv')
df9 = pd.read_csv(r'venues.csv')

In [ ]:
df4

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
df.head(5)

In [ ]:
df2.info()

In [ ]:
df.isna().any()

In [ ]:
df.isna().sum()

In [ ]:
df[df.isna().any(axis=1)]

In [ ]:
#df.duplicated().sum()

df[df.duplicated()]

In [ ]:
df2['event'].fillna('unknown', inplace =True)
df2.iloc[[100, 16]]

In [ ]:
import re

def strip_char(column):
    r = re.compile(r'[^a-zA-Z !@#$%&*_+-=|\:";<>,./()[\]{}\']')
    return r.sub('', column)

df['resultCol'] = df['event'].apply(strip_char)
df.iloc[[100,16]]

In [ ]:
df.to_csv(r'"D:\Paris Olympics 2024"', index = False)

In [ ]:
#DATA VISUALIZATION

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt

df['resultCol'] = pd.to_numeric(df['resultCol'], errors='coerce')
df_numeric = df.select_dtypes(include=['number'])

df_numeric.hist(bins=50, figsize=(10, 15), facecolor='y')
plt.show()

In [ ]:
df['resultCol'] = pd.to_numeric(df['resultCol'], errors='coerce')
numerical_df = df.select_dtypes(include=['number'])

numerical_df.hist(bins=50, figsize=(10, 15), facecolor='y')
plt.show()
corr_matrix = numerical_df.corr()
sns.heatmap(corr_matrix, annot=True)
plt.show()

In [ ]:
sns.pairplot(df,diag_kind='kde')
plt.show()

In [ ]:
df4_total= df.copy(deep=True)
if 'Total' not in df4_total.columns:
  df4_total['Total'] = 0

df4_total['Total'] = np.sqrt((df4_total['Total']))
df4_total

In [ ]:
sns.histplot(df4_total['Total'],color="dodgerblue", kde = True)
plt.title('Skewness after the Sqaure Root Transformation')
plt.show()

In [ ]:
plt.title("Top 10 countries with the Silver Medals")
sns.barplot(x = S.index, y="silver_medal", data=S)
plt.xticks(rotation=90)
plt.show()

In [ ]:
total_medals = df4_medals.sort_values(by=['total_medal'],ascending=False, inplace=False)
T = total_medals[['total_medal']].head(10)
T